<!-- navbar-dark flex-column flex-md-row bd-navbar
d-sm-flex align-items-center justify-content-between mb-4  -->
  <!-- <nav class="navbar fixed-top navbar-dark bg-primary mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home">
    <img src="../../assets/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Turntabl
  </a>
</div> 
</nav> -->
  <nav class="navbar fixed-top navbar-dark bg-primary mb-4">
    <div class="container-fluid">
      <a class="navbar-brand" href="/home">
      <img src="../../assets/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
      Turntabl
    </a>
  </div> 
  </nav>

<nav class="navbar fixed-top navbar-dark bg-light mb-4">
  <div class="container-fluid">
    <div class="align-items-center row">
      <button class="btn btn-lg btn-success" >Submit</button>
    </div>
</div> 
</nav>

<router-outlet></router-outlet>