
<!-- Image and text -->

<div class="text-center" *ngIf="msgShow == true" > 
  <div class="alert alert-danger" *ngIf="valid == false" role="alert">
    {{ msg }}
  </div>
  <div class="alert alert-success" *ngIf="valid == true" role="alert">
    {{ msg }}
  </div>
</div> 

<div class="fm form-container d-flex align-items-center col-6">
  <form [formGroup]="form" (ngSubmit)="submit()">

    <div class="align-items-center row">
        <button class="btn btn-lg btn-primary btn-center" >DONE</button>
    </div>

    <div *ngFor="let choice of rolesList; let i=index" class="form-group row car checkbox">

         <div class="card btn-default" style="width: 25rem; height: 10rem;">
          <div class="card-body">
            <input type="checkbox" [value]="choice.roleARN" (change)="onCheckChange($event)" class="chk">
            <!-- <input type="checkbox" [value]="choice.roleARN" class="form-check-input form-control chk" 
            (change)="onCheckChange($event)" id="exampleCheck1"> -->
            <h6 class="card-title">{{choice.roleName}}</h6>
            <h6 class="card-subtitle mb-2 text-muted">{{choice.description}}</h6>
          </div>
        </div>

    </div>   

    <div class="align-items-center row">
      <button class="btn btn-lg btn-primary btn-center" >DONE</button>
    </div>

  </form>
</div>

<div class="text-center" *ngIf="msgShow == true" > 
  <div class="alert alert-danger" *ngIf="valid == false" role="alert">
    {{ msg }}
  </div>
  <div class="alert alert-success" *ngIf="valid == true" role="alert">
    {{ msg }}
  </div>
</div> 

   