
<!-- Image and text -->
<nav class="navbar navbar-primary bg-info">
  <a class="navbar-brand" href="#">
    <img src="../../assets/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Turntabl
  </a>
</nav>
<div class="text-center">
<div class="alert alert-success" role="alert">

</div>
<!-- <div class="alert alert-danger" role="alert">
  Sorry! Something went wrong!
</div> -->
</div> 

<div class="fm form-container d-flex align-items-center">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div *ngFor="let choice of rolesList; let i=index" class="form-group row">


         <div class="form-group form-check">
          
          <div class="card-body border border-info rounded-pill">
            <h5 class="card-title">{{choice.roleName}}</h5>
            <p class="card-text">-{{choice.description}}</p> 
            <input type="checkbox" [value]="choice.roleARN"  class="form-check-input form-control chk" (change)="onCheckChange($event)" id="exampleCheck1">
          </div>
         </div>

    </div>   
    <button class="btn btn-lg btn-success" >submit</button>
  </form>
</div>

   